@import 'material';
@import 'main';
@import 'utils';
@import 'responsive';
@import '~ngx-toastr/toastr.css';
.img-container {
    position: relative;
    text-align: center;
    color: red;
    font-weight: 700;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}