<!-- productivity dashboard  -->
<mat-card class="mb-20">

    <mat-card-content>
        <mat-card-title>
            {{title| uppercase}}
            <i color="primary" [ngClass]="{'fa fa-cog fa-spin':loading}"> </i>
            <!-- <span *ngIf="loading">Please wait loading regions list</span> -->
            <!-- <small style="color:lightseagreen !important" class="mtb-5-IMP" *ngIf="loadingReportMessage">Your file is being prepared for download</small> -->

        </mat-card-title>
        <section class="example-section" *ngIf="regions.length>0">
            <mat-form-field *ngIf="regions.length>0" class="example-margin mr-10-IMP">
                <mat-select placeholder="Region" name='region' [(ngModel)]="selectedRegion">
                    <mat-option [value]="region" *ngFor="let region of regions">{{region.title}}</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width mr-10-IMP">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker0" [(ngModel)]="startDate" placeholder="Choose a start date" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker0"></mat-datepicker-toggle>
                <mat-datepicker #picker0></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="example-full-width mr-10-IMP">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" [(ngModel)]="endDate" placeholder="Choose a end date" readonly>
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>


        </section>

        <section class="example-section" *ngIf="regions.length>0">
            <button mat-raised-button color="warn" (click)="downloadReport()">Download</button>

        </section>

    </mat-card-content>
</mat-card>
<!-- /productivity dashboard -->